---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: thanos-query
  namespace: {{ cluster_prometheus_namespace }}
  labels:
    app: thanos
    component: thanos-query
    thanos-peer: "true"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: thanos
      thanos-peer: "true"
  template:
    metadata:
      labels:
        app: thanos
        component: thanos-query
        thanos-peer: "true"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "10902"
    spec:
      containers:
      - name: thanos-query
        image: {{ cluster_thanos_image }}:{{ cluster_thanos_image_version }}
        args:
        - 'query'
        - '--log.level=debug'
        - '--cluster.peers=thanos-peers.{{ cluster_prometheus_namespace }}.svc.cluster.local:10900'
        - '--query.replica-label=replica'
        ports:
        - name: http
          containerPort: 10902
        - name: grpc
          containerPort: 10901
        - name: cluster
          containerPort: 10900
        livenessProbe:
          httpGet:
            path: /-/healthy
            port: http
{% if cluster_prometheus_nodeselector is not none %}
      nodeSelector:
        {{ cluster_prometheus_nodeselector }}
{% endif %}